
*.pyc
*.pyo
*.pyd
.build/
dist/
*.egg-info/*
.venv/
.env/
.ipynb_checkpoints/
.DS_Store
*.DS_Store*
outputs/

# Python bytecode
*__pycache__/*
*.py[cod]
*DS_Store
*vscode
*ruff_cache
*pytest_cache
*mypy_cache
*cache
*nox
*site
*.egg-info/
build/
dist/
