# Verification

::: gp_active_mcmc.verification
